@media screen and (min-width: 822px){
  body {
      font-family: 'Roboto Mono', monospace;
      font-size: 15px;
      margin: 0;
      padding: 0;
      background-color: #f5f5dc;
      color: #9A7109;
  }

  #header-enclosing {
      text-align: center;
  }


  .enclosing {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 30px;
  }

  input {
      border-radius: 7px;
      font-size: 20px;
  }

  select {
      border-radius: 10px;
      width: 60px;
      height: 30px;
      background-color: #99a1b1;
      color: #443850;
      border: none;
  }

  input[type="text"] {
      width: 100%;
      background-color: #99a1b1;
      color: #443850;
      height: 20px;
      border: 0;
  }

  header {
      text-align: center;
  }

  #global-enclosing {
      display: block;
      align-items: center;
  }


  form {
      border: 3px;
      border-radius: 10px;
  }

  #submit-results, #y, #return-button, #to-main-button, #to-welcome-button {
      color: #443850;
      background-color: #99a1b1;
    box-shadow: none;
    border: 2px none #9A7109;
    height: 30px;
      width: 90px;
  }

  #y::placeholder {
      color: #443850;
      width: 50px;
      text-align: justify;
  }

  header, footer {
      padding: 10px;
  }

  td, th {
      background-color: #443850;
      color: #99a1b1;
      width: 250px;
      height: 40px;
      border-radius: 10px;
      text-align: center;
  }

  th {
      background-color: #99a1b1;
      color: #443850;
  }

  button {
      width: 50px;
      margin-left: 3%;
      background-color: #99a1b1;
      color: #443850;
      border-radius: 5px;
      border: 0px;
      font-size: 20px;
  }

  .selected-button {
      background-color: #443850;
      color: #99a1b1;
  }

  #password-input, #username-input {
      margin-top: 3%;
  }

  #login-submit-button,
  #signup-submit-button,
  #submit-button,
  #logout-button {
      width: 50%;
      background-color: #9A7109;
      color: #f5f5dc;
  }

  #y-input {
      width: 30%;
  }

  #user {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: right;
      width: 100%;
  }
  #logout-button {
      width: 100%;
  }

}

@media screen and (max-width: 822px) {
  body {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
    color: #9A7109;
  }

  #root {
    display: flex;
    justify-content: center;
  }

  #header-enclosing, footer {
    text-align: center;
  }


  .enclosing {
    display: flex;
    margin-top: 30px;
  }

  #login-submit-button,
  #signup-submit-button,
  #submit-button,
  #logout-button {
    width: 50%;
    background-color: #9A7109;
    color: #f5f5dc;
  }

  #logout-button {
    width: 70%;
  }

  button {
    width: 10%;
    margin-left: 3%;
    background-color: #99a1b1;
    color: #443850;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
  }

  form {
    align-content: center;
  }

  #form-and-canvas-and-error-enclosing {
    display: block;
  }

  #submit-results, #y, #return-button, #to-main-button, #to-welcome-button {
    color: #443850;
    background-color: #99a1b1;
    box-shadow: none;
    border: 2px none #9A7109;
    height: 30px;
    width: 90px;
  }

  .selected-button {
    background-color: #443850;
    color: #99a1b1;
  }

  input[type="text"] {
    width: 100%;
    background-color: #99a1b1;
    color: #443850;
    height: 20px;
    border: 0;
    border-radius: 10px;
  }

    #password-input, #username-input {
        margin-top: 3%;
    }
}