body {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
    color:#9A7109;
}

#header {
    display: flex;
    justify-content: space-evenly;
}

input {
    border-radius: 7px;
    font-size: medium;
}

select {
    border-radius: 10px;
    width: 60px;
    height: 30px;
    background-color: #99a1b1;
    color:#443850;
    border: none;
}

input[type="text"] {
    background-color:#9A7109;
    color: #9A7109;
    border-color: #9A7109;
}

.selectable-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    color:#443850;
    background-color: #99a1b1;
}

.selected-button {
    background-color: #443850;
    color: #99a1b1;
}

header {
    text-align: center;
}

#form-and-canvas-encloser {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#form-and-canvas-and-error-encloser {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    font-size: large;
}

.enclosing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

form {
    border: 3px;
    border-radius: 10px;
    width: 700 px;
}

#x-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

#submit-results, #y {
    color:#443850;
    background-color:#99a1b1;
    border-width: 2px;
    border-color:#9A7109;
    box-shadow: none;
    border: none;
    height: 30px;
    width: 90px;

}

#y::placeholder {
    color: #443850;
    width: 50px;
    text-align:justify;
}

#plotArea {
    position: relative;
}

#plotImage {
    border-radius: 20px;
    width: 400px;
    height: 400px;
}

header, footer {
    padding: 10px;
}